*.pyc
__pycache__/
*.pyo
*.pyc
.Python
env/
venv/
ENV/
db.sqlite3
db.sqlite3-journal
/staticfiles/
/media/
*.log
.DS_Store
.env
node_modules/
theme/static_src/node_modules/
theme/static/css/
*.mo
*.pot
.idea/
.vscode/
*.swp
*.swo
